<?xml version="1.0"?>
<SAMLConfiguration xmlns="urn:componentspace:SAML:2.0:configuration">
  <IdentityProvider
    Name="https://SamlProxy"
    Description="SAML Proxy">
    <LocalCertificates>
      <Certificate FileName="Certificates\proxy.pfx" Password="password"/>
    </LocalCertificates>
  </IdentityProvider>

  <ServiceProvider
    Name="https://SamlProxy"
    Description="SAML Proxy"
    AssertionConsumerServiceUrl="~/SAML/SP/AssertionConsumerService">
    <LocalCertificates>
      <Certificate FileName="Certificates\proxy.pfx" Password="password"/>
    </LocalCertificates>
  </ServiceProvider>

  <PartnerIdentityProviders>
    <!-- Web forms example -->
    <PartnerIdentityProvider 
      Name="https://ExampleIdentityProvider"
      Description="Example Identity Provider"
      SingleSignOnServiceUrl="https://localhost:44390/SAML/SSOService.aspx"
      SingleLogoutServiceUrl="https://localhost:44390/SAML/SLOService.aspx">
      <PartnerCertificates>
        <Certificate FileName="Certificates\idp.cer"/>
      </PartnerCertificates>
    </PartnerIdentityProvider>
	  
    <!-- MVC example -->
    <PartnerIdentityProvider
      Name="https://MvcExampleIdentityProvider"
      Description="MVC Example Identity Provider"
      SingleSignOnServiceUrl="https://localhost:44363/SAML/SingleSignOnService"
      SingleLogoutServiceUrl="https://localhost:44363/SAML/SingleLogoutService">
      <PartnerCertificates>
        <Certificate FileName="Certificates\idp.cer"/>
      </PartnerCertificates>
    </PartnerIdentityProvider>
  </PartnerIdentityProviders>

  <PartnerServiceProviders>
    <!-- Web forms example -->
    <PartnerServiceProvider
      Name="https://ExampleServiceProvider"
      Description="Example Service Provider"
      AssertionConsumerServiceUrl="https://localhost:44338/SAML/AssertionConsumerService.aspx"
      SingleLogoutServiceUrl="https://localhost:44338/SAML/SLOService.aspx">
      <PartnerCertificates>
        <Certificate FileName="Certificates\sp.cer"/>
      </PartnerCertificates>
    </PartnerServiceProvider>
	  
    <!-- MVC example -->
    <PartnerServiceProvider
      Name="https://MvcExampleServiceProvider"
      Description="MVC Example Service Provider"
      AssertionConsumerServiceUrl="https://localhost:44386/SAML/AssertionConsumerService"
      SingleLogoutServiceUrl="https://localhost:44386/SAML/SingleLogoutService">
      <PartnerCertificates>
        <Certificate FileName="Certificates\sp.cer"/>
      </PartnerCertificates>
    </PartnerServiceProvider>
  </PartnerServiceProviders>
</SAMLConfiguration>
