<?xml version="1.0"?>
<SAMLConfiguration xmlns="urn:componentspace:SAML:2.0:configuration">
  <IdentityProvider 
    Name="https://MvcExampleIdentityProvider"
    Description="MVC Example Identity Provider">
    <LocalCertificates>
      <Certificate FileName="Certificates\idp.pfx" Password="password"/>
    </LocalCertificates>
  </IdentityProvider>

  <PartnerServiceProviders>
    <!-- MVC example -->
    <PartnerServiceProvider 
      Name="https://MvcExampleServiceProvider"
      Description="MVC Example Service Provider"
      AssertionConsumerServiceUrl="https://localhost:44386/SAML/AssertionConsumerService"
      SingleLogoutServiceUrl="https://localhost:44386/SAML/SingleLogoutService">
      <PartnerCertificates>
        <Certificate FileName="Certificates\sp.cer"/>
      </PartnerCertificates>
    </PartnerServiceProvider>
    
    <!-- SAML Proxy -->
    <PartnerServiceProvider
      Name="https://SamlProxy"
      Description="SAML Proxy"
      AssertionConsumerServiceUrl="https://localhost:44361/SAML/SP/AssertionConsumerService"
      SingleLogoutServiceUrl="https://localhost:44361/SAML/SP/SingleLogoutService">
      <PartnerCertificates>
        <Certificate FileName="Certificates\proxy.cer"/>
      </PartnerCertificates>
    </PartnerServiceProvider>
  </PartnerServiceProviders>
</SAMLConfiguration>
